<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja Tag</title>
    <style>
        h1
        {
            background-color: rgb(240, 240, 35);
            color: rgb(126, 6, 6);
            margin: 0px;
        }
    </style>
</head>
<body style="background-color: rgb(99, 56, 61);">
    <center>
        <h1>Jinja Print</h1>
        <h1><marquee behavior="" direction="left">Name of the student is {{Name}}</marquee></h1>
        <h1><marquee behavior="" direction="right">Age of the student is {{Age}}</marquee></h1>
    </center>
</body>
</html>

